[Desktop Entry]
Type=Application
Name=Change Password
Exec=xfce4-terminal --fullscreen --execute /usr/local/bin/change-password-prompt.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Terminal=false
