[Unit]
Description=Polaron OS - Randomize System Identity (Hostname & MAC)
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/randomize-identity.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
